@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header{
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 100%;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: end;
}

.menu nav ul{
    display: flex;
}

.menu nav ul,
.menu nav ul li{
    list-style: none;
}

.menu nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid transparent;
}

.menu nav ul li a:hover{
    border-bottom: 5px solid #b28756;
}
