@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar-track {
    background-color: #000;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-thumb {
    background-color: #b28756;
    ;
}

body {
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo a {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: end;
}

.menu nav ul {
    display: flex;
}

.menu nav ul,
.menu nav ul li {
    list-style: none;
    height: 100px;
}

.menu nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid transparent;
    transition: ease .3s;
}

.menu nav ul li.active,
.menu nav ul li a:hover {
    border-bottom: 5px solid #b28756;
    color: #7a7a7a;
}

section.banner {
    background-color: #000;
    height: calc(100vh - 100px);
    background-image: url('../images/complementos/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

section.banner .sliders {
    width: 1000vw;
    height: 100%;
    display: flex;
}

section.banner .slide {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

section.banner .slidearea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    height: 100%;
    text-align: center;
}

section.banner .slidearea h1 {
    font-size: 4rem;
}

section.banner .slidearea h2 {
    margin-top: 15px;
}

section.banner .slidearea h1,
section.banner .slidearea h2 {
    text-transform: uppercase;
    font-weight: bold;
}

section.banner .slidearea span {
    color: #b28756;
}

section.banner .slidearea a {
    display: block;
    padding: 10px 30px;
    background-color: #b28756;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    margin-top: 30px;
    border-radius: 20px;
}

section.banner .slidearea a:hover {
    color: #f0f0f0;
    box-shadow: 0px 0px 2px #b9b9b9;
}

section.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.banner .sliders-pointers .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}

section.banner .sliders-pointers .pointer.active,
section.banner .sliders-pointers .pointer:hover {
    background-color: #b28756;
}

section.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.default .section-title,
section.default .section-desc {
    text-align: center;
    text-transform: uppercase;
}

section.default .section-title {
    font-size: 1.3rem;
    font-weight: 600;
}

section.default .section-desc {
    font-size: 0.5rem;
    color: #ccc;
    line-height: 20px;
    margin-bottom: 20px;
}

section.default .section-body {
    margin: auto;
    max-width: 1140px;
    min-height: 100px;
}

section.default.light {
    background-color: #f7f7f7;
}

section.default.light .section-title,
section.default.light .section-body {
    color: #000;
}

section.default.dark {
    background-color: #000;
}

section.default.dark .section-title,
section.default.dark .section-body {
    color: #fff;
}



/*CSS de áreas específicas*/

.section-aboutUs {
    display: flex;
}

.section-aboutUs .section-aboutUs--left {
    flex: 1;
}

.section-aboutUs .section-aboutUs--left p {
    line-height: 25px;
}

.section-aboutUs .section-aboutUs--left a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #b28756;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    margin-top: 30px;
    border-radius: 20px;
}

.section-aboutUs .section-aboutUs--left a:hover {
    color: #f0f0f0;
    box-shadow: 0px 0px 2px #b9b9b9;
}

.section-aboutUs .section-aboutUs--right {
    width: 500px;

    text-align: center;
}

.section-aboutUs .section-aboutUs--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services {
    display: flex;
    align-items: center;
}

.section-services .section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #999;
    padding: 20px;
}

.section-services .section-service:first-child {
    border-left: 1px solid #999;
}

.section-services .section-service h4 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 20px;
}

.section-services .section-service p {
    font-size: 0.8rem;
    color: #999;
    margin-top: 10px;
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #b28756;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    margin-top: 30px;
    border-radius: 20px;
}

.section-projects a:hover {
    color: #f0f0f0;
    box-shadow: 0px 0px 2px #b9b9b9;
}

.section-projects--filters {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #ededed;
    border-radius: 25px;
    padding: 0px 20px;
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: 13px;
    text-transform: uppercase;
    border-right: 1px solid #ccc;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    font-size: 0.8rem;
    color: #555;
    transition: ease .3s;
}

.section-projects--filters li:last-child {
    border: none;
}

.section-projects--filters li.active,
.section-projects--filters li:hover {
    border-bottom: 3px solid #b28756;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    width: 260px;
    height: 160px;
    /*Diminiui 20 do .section-projects--photo */
    margin: 10px;
    cursor: pointer;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    display: none;
}

.section-projects--photoinfo h5 {
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-projects--photoinfo p {
    font-size: 0.7rem;
    word-wrap: break-word;
    text-align: center;
    color: #ccc;
    line-height: 18px;

}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}

.bg-team {
    background-image: url('../images/complementos/bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 0 !important;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 50%);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    background-color: #fff;
    display: inline-block;
    margin-right: 20px;
}

.section-team .slidearea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
    height: 100%;
    text-align: center;
    padding: 30px;
}

.section-body .sliders-pointers {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.section-body .sliders-pointers .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}

.section-body .sliders-pointers .pointer.active,
.section-body .sliders-pointers .pointer:hover {
    background-color: #b28756;
}

.section-team--avatar {
    width: 150px;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 20px;
}

.section-team--role {
    font-size: 0.8rem;
    margin-top: 5px;
    color: #999;
}

.section-team--social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
    transition: ease .3s;
}

.section-team--social a:hover {
    background-color: #b28756;
}

.section-happy-clients {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}

.section-happy-clients .sliders {
    width: 1000vw;
    height: 100%;
}

.section-happy-clients .slide {
    width: 800px;
    height: 100%;
    display: inline-block;
}

.section-happy-clients .slidearea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
    height: 100%;
    text-align: center;
    padding: 30px;
    flex-wrap: wrap;
}

.section-happy-clients--avatar {
    width: 105px;
}

.section-happy-clients--name {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 15px;
}

.section-happy-clients--role {
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 5px;
}

.section-happy-clients--quote {
    width: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-happy-clients--info {
    margin-top: 5px;
    font-size: 0.7rem;
    color: #999;
    line-height: 20px;
    word-break: normal;
}

section.sponsorship {
    border: 1px solid #cfcfcf;
}

.section-sponsorship {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    margin: auto;
}

.section-sponsorship .section-sponsorship--company {
    flex: 1;
}

.section-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1140px;

}

.section-price--content {
    width: 250px;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    margin-right: 20px;
}

.section-price--content-type {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
}

.section-price--content-value {
    font-weight: bold;
    font-size: 2rem;
}

.section-price--content-value::before {
    content: "$";
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 5px;
}

.section-price--content-value::after {
    content: "/ month";
    font-weight: 300;
    font-size: 0.6rem;
    position: absolute;
    margin-top: 37px;
    margin-left: -64px;
    color: #c6c6c6;
    text-transform: uppercase;
}

.section-price--content-info {
    font-size: 0.8rem;
    margin-top: 30px;
    color: #7f7f7f;
}

.section-price--content-info--border {
    width: 15px;
    height: 1px;
    background-color: #555;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.section-price--content a {
    display: inline-block;
    background-color: #000;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 25px;
    font-size: 0.8rem;
    border-radius: 20px;
    margin-top: 25px;
    transition: ease .3s;
}

.section-price--content a:hover {
    background-color: #b28756;
    color: #f0f0f0;
    box-shadow: 0px 0px 2px #b9b9b9;
}

.bg-premium {
    background-color: #fff !important;
}

.section-premium {
    max-width: 1140px;
    overflow: hidden;
}

.section-premium .sliders {
    width: 1000vw;
    height: 100%;
}

.section-premium .slide {
    height: 100%;
    display: inline-block;
    width: 1140px;
    border-bottom: 1px solid #ccc;
}

.section-premium .slidearea {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: #000;
    height: 100%;
    text-align: center;
    padding: 30px;
    flex-wrap: wrap;
}

.section-premium--image {
    width: 350px;
}

.section-premium--image img {
    width: 100%;
}

.section-premium--info {
    text-align: left;
    width: 390px;
}

.section-premium--info-title {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.section-premium--info-title::before {
    content: url('../images/icones/check.png');
    position: absolute;
    margin-left: -60px;
}

.section-premium--info-text {
    color: #7f7f7f;
    font-size: 0.9rem;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.section-premium--info-text ul,
.section-premium--info-text li {
    list-style: none;
}

.section-premium--info-text li {
    text-indent: 15px;
    text-transform: uppercase;
}

.section-premium--info-text li::before {
    content: '-';
    font-size: 1rem;
    letter-spacing: 5px;
}

.section-premium .button-premium {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.section-premium .button-premium a {
    display: inline-block;
    padding: 15px 50px;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    background-color: #b28756;
    text-decoration: none;
    border-radius: 20px;
    text-transform: uppercase;
}

.section-premium .button-premium a:hover {
    background-color: #b28756;
    color: #f0f0f0;
    box-shadow: 0px 0px 2px #b9b9b9;
}

.section-some-facts {
    display: flex;
    justify-content: center;
    padding: 30px;
    max-width: 1140px;
    flex-wrap: wrap;
}

.section-some-facts--content {
    text-align: center;
    margin-right: 20px;
    flex: 1;
}

h3.section-some-facts--number {
    font-size: 2rem;
    font-weight: bold;
    color: #b28756;
    margin-bottom: 5px;
}

.section-some-facts--border {
    width: 15px;
    height: 2px;
    background-color: #7e7e7e;
    margin: auto;
}

h4.section-some-facts--title {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 5px;
}

.section-some-facts--desc {
    color: #7e7e7e;
    font-size: 0.8rem;
    margin-top: 10px;
    line-height: 19px;
}

section.social{
    border: 1px solid #cfcfcf;
}

.section-social {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: auto;
}

.section-social--contact, 
.section-social--socials {
    display: inline-flex;
    padding: 30px;
    align-items: center;
}

.section-social--contact{
    margin-right: 40px;
}

.section-social--social {
    display: inline-flex;
    align-items: center;
    margin-right: 35px;
}

.section-social--contact h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #aeaeae;
    font-weight: 600;
}

.section-social--contact img {
    margin-right: 15px;

}

.section-social--social-bg-image {
    background-color: #b28756;
    width: 30px;
    overflow: hidden;
    border-radius: 50%;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.section-social--social-bg-image img.facebook{
    width: 30%;
}

.section-social--social-bg-image img {
    width: 60%;
}

.section-social--social p {
    margin-left: 5px;
    font-size: 0.7rem;
    color: #aeaeae;
    font-weight: 600;
}

.section-form {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.section-form input[type='text'] {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #aeaeae;
    outline: none;
    margin-top: 30px;
}

.section-form input[type='text']::placeholder {
    text-transform: uppercase;
}

.section-form--content {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.section-form--content input[type='text']{
    width: 230px !important;
    color: #7e7e7e;
}

input.textarea{
    margin-top: 80px !important;
}

.section-form input[type='submit'] {
    background-color: #b28756;
    padding: 15px 40px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    font-size: 0.6rem;
    margin-top: 50px;
    cursor: pointer;
}

.section-form input[type='submit']:hover{
    background-color: #b28756;
    color: #f0f0f0;
    box-shadow: 0px 0px 2px #b9b9b9;   
}

section.map {
    height: 415px;
    position: relative;
    
}

.section-contact-map {
    width: 540px;
    height: 340px;
    background-color: #fff;
    position: absolute;
    top: 0;
    margin-top: 45px;
    margin-left: 150px;
}

.section-contact-map--contacts{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 50px;
}

.section-contact-map--contact {
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
}
.section-contact-map--contact-img{
    background-color: #aeaeae;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.section-contact-map--contact-img img {
    width: 60%;
}

.section-contact-map--contact p{
    color: #7f7f7f;
    font-size: 0.8rem;
}