@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
}

.logo img{
    width: 100%;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: end;
}
